body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background-color: white;
}

h1{
    margin: 0;
}

section{
    display: block;
}

.container{
    max-width: 950px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    flex: 1;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;

}
.header{
    background-color: #ffffff;
    display: flex;
    height: 80px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.logo{
    margin: 0;
    display: inherit;
    align-items: center;
    height: inherit;
}

.logo-title{
    align-items: center;
    text-transform: uppercase;
    font-size: 22px;
    color: #00305b;
    font-family: 'Noticia Text', serif;
    padding: 0 0 0 10px;
}

.menu{
    height: inherit;
}

ol, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.header ul{
    display: flex;
    height: inherit;
}

.header ul li{
    height: inherit;
    padding: 0;
}

.header a{
    display: flex;
    align-items: center;
    height: inherit;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0 15px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #00305b;
}

.header a:hover{
    color: #386892;
}

.hero img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
    position: relative;
}

.hero-panel{
    background-color: #24325e;
    z-index: 1;
    height: 100vh;
    width: 43%;
    position: absolute;
    top: 0%;
    opacity: .8;
}

.hero-description{
    z-index: 1;
    position: absolute;
    top: 40%;
    color: white;
    height: 50%;
    width: 300px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

.hero-description h1{
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-weight: 100;
    font-size: 42px;
    margin: 0;
}

.hero-description .bold-title{
    font-size: 42px;
    font-weight: 800;
    text-transform: uppercase;
}

.practice-areas{
    display: flex;
    width: inherit;
    height: 450px;
}

.practice-areas-panel1{
    position: absolute;
    background-color: #e9f4f6;
    width: 43%;
    height: 450px;
    top: 100vh;
    z-index: -1;
}

.practice-areas-panel2{
    position: absolute;
    background-color: #fff;
    width: 57%;
    height: 450px;
    top: 100vh;
    left: 43%;
    z-index: -1;
}

.practice-areas-title{
    display: inherit;
    margin: 0;
    width: 50%;
    height: inherit;
    z-index: -1;
    position: relative;
}

.practice-areas-description{
    display: inherit;
    margin: 0;
    width: 50%;
    height: inherit;
    z-index: -1;
    position: relative;
}

.vision{
    display: flex;
    background-color: #172A5C;
    color: white;
}